<div class="mx-auto max-w-sm flex flex-col items-center justify-center h-screen">
  <div class="text-center">
    <!-- @name refers to the controller `name: name` render function -->
    <h1>Welcome, <%= @name %></h1>
  </div>
</div>
